/*  your css code here. If applicable */
.player_one{
	border: 1px solid grey;
	background-color:white;
	margin:25px;
}

li{
	list-style-type:none;
	padding:5px;	
}

#a{
	text-decoration:none;
	color:black;
}

.player_two{
	margin:10px;
	background-color:rgb(255,255,255);
}

.player_three{

}

.h{
	text-align:center;
}

.container{
	text-align:center;

	background-color:white;

	padding:10px;
	margin-inline:110px;
}

body{
	background-color:#CCCCCC;
}








