/*  your css code here. If applicable */
.player_one{
	display:flex;
	flex-direction:column;
	border: 1px solid grey;
	padding:10px;
	background-color:white;
	margin:25px
}

#a{
	text-decoration:none;
	color:black;
	padding:3px;
}

.player_two{
	margin:10px;
}

.player_three{

}

.h{
	text-align:center;
}

.container{
	text-align:center;

	background-color:white;

	padding:10px;
	margin-inline:110px
}

body{
	background-color:#CCCCCC;
}








